:root {
  --blanco: #ffffff;
  --oscuro:#0f0f0f;
  --verde:#00FF85;
}

/* Reset CSS*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--blanco);
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: var(--oscuro);
}

h1,
h2,
h3,
h4,
p,
a {
  font-family: "Dm Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.rrss {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.rrss img {
  height: 1.6rem;
  filter: invert(1);
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  gap: 2rem;
}

/* Estilo para el fondo de .hero con superposición */
.hero {
  position: relative;
  background-image: url(../img/gorillaz-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.contenedor-titulo {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.anniversary {
  color: var(--blanco);
  font-family: "DM Sans";
  font-size: 3vw;
  font-style: normal;
  font-weight: 500;
  line-height: 86%; /* 2.84875rem */
  letter-spacing: -0.06625rem;
  text-align: center;
}

.demondays {
  color: #fff;
  font-size: 8.6vw;
  font-style: normal;
  font-weight: 800;
  max-width: 60rem;
  line-height: 10.6vw; /* 8.6rem */
  letter-spacing: -0.2rem;
  display: flex;
}

.pill-container {
  display: flex;
  flex-direction: row;
  justify-content: first baseline;
  width: 70%;
  height: fit-content;
}

.pill {
  border-radius: 0.6875rem;
  background: #fff;
  box-shadow: 0px 0px 8.988px 0px rgba(0, 0, 0, 0.25);
  width: fit-content;
  padding: 0 1rem;
  height: fit-content;
}

.green {
  background: #00ff85;
  margin-top: 1rem;
  transition: ease-in-out 0.3s;
}

.green:hover {
  background: #49f1a0;
}

.pill p {
  font-size: 1.5rem;
  color: var(--oscuro);
  font-weight: bolder;
  text-transform: uppercase;
}

.body-vinyl {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.bio {
  color: #fff;
  font-family: "DM Sans";
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 3.3rem */
  letter-spacing: -0.03rem;
  width: 70%;
}

.bio-header {
  color: #fff;
  font-family: "DM Sans";
  font-size: 2rem;
  font-weight: 400;
  line-height: 150%; /* 3.3rem */
  letter-spacing: -0.03rem;
  text-align: left;
}

.bio2 {
  padding: 2rem;
  color: #fff;
  font-family: "DM Sans";
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.75rem */
  letter-spacing: -0.0125rem;
  width: 70%;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.text-vinyl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.pill-container-price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
}

.band {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-band {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
}

.band div {
  padding: 2rem;
}

.band-img {
  width: 100%;
  border-radius: 0.5rem;
  transition: ease-in-out 0.3s;
}

.band-img:hover {
  scale: 1.02;
}

.bio-band {
  padding: 0.8rem 0;
  color: #fff;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 1.75rem */
  letter-spacing: -0.0125rem;
  text-align: left;
}
.container-vinyl {
  border-radius: 0.7rem;
  width: 50vw;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f0f0f0;
  overflow: hidden;
  transition: ease-in-out 0.3s;
}

.container-vinyl:hover {
  scale: 1.02;
}

#album {
  width: fit-content;
  position: relative;
  height: 14vw;
  margin: 2rem;
}

#cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 14vw;
  height: 14vw;
  background-image: url("../img/cover.webp");
  background-size: cover;
  border-radius: 4px;
  z-index: 2;
}

#vinyl {
  position: absolute;
  top: 0;
  left: 6.9vw;
  width: 14vw;
  height: 14vw;
  background-image: url("../img/vinilo-verde.png");
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0 0 20px 4px rgba(0, 0, 0, 0.6));
  animation: 8s linear giro infinite, 1s ease-out getOut 1s forwards;
  z-index: 1;
}

@keyframes giro {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo img {
  width: 10rem;
  filter: invert(1);
  margin: 2rem;
  transition: ease-in-out 0.3s;
}

.logo img:hover {
  filter: invert(37%) sepia(87%) saturate(300%) hue-rotate(85deg)
    brightness(170%);
}

.cita {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cita-texto {
  font-weight: 400;
  padding: 1rem;
}

/* Estilo para footer */

footer {
  background-color: black; /* Color de fondo oscuro */
  color: #fff; /* Texto en color blanco */
  padding: 20px; /* Espaciado interno */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 2rem;
}

.left p {
  text-align: left;
  padding: 0.2rem;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 2rem;
}

.right p {
  text-align: right;
  padding: 0.2rem;
}

.img-footer {
  width: 20vw;
  padding: 1rem 0;
}

.footer-div form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 10px;
}

.footer-div label {
  font-size: 18px;
  margin: 5px;
}

.footer-div input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
  max-width: 300px;
}

.footer-div button {
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  background-color: #00ff85; /* Color de fondo del botÃ³n */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 600;
}

.footer-div button:hover {
  background-color: #0f6c16; /* Color del botÃ³n al pasar el ratÃ³n */
}

.footer-div p {
  margin-top: 20px;
  font-size: 14px;
}
