:root {
  --blanco: #ffffff;
  --oscuro:#272727;
}

/* Reset CSS*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--blanco);
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #272727;
}

h1,
h2,
h3,
h4,
p,
a {
  font-family: "Dm Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
    text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.rrss{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.rrss img {
  height: 1.6rem;
  filter: invert(1);
}


.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  gap: 2rem;
}


/* Estilo para el fondo de .hero con superposición */
.hero {
    position: relative;
    background-image: url(../img/gorillaz-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.contenedor-titulo{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.anniversary{
    color: var(--blanco);
font-family: "DM Sans";
font-size: 3.3125rem;
font-style: normal;
font-weight: 500;
line-height: 86%; /* 2.84875rem */
letter-spacing: -0.06625rem;
text-align: center;
}

.demondays{
color: #FFF;
font-size: 9rem;
font-style: normal;
font-weight: 800;
line-height: 86%; /* 8.6rem */
letter-spacing: -0.2rem;
display: flex;
}

.pill-container{
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    width: 70%;
}

.pill{
border-radius: 0.6875rem;
background: #FFF;
box-shadow: 0px 0px 8.988px 0px rgba(0, 0, 0, 0.25);
width: fit-content;
padding: 0 1rem ;
}

.green{
    background: #00FF85;    ;
}

.pill p{
    font-size: 2rem;
    color: var(--oscuro);
    font-weight: bolder;
    text-transform: uppercase;
}

.body-vinyl{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.bio{
    color: #FFF;
font-family: "DM Sans";
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 3.3rem */
letter-spacing: -0.03rem;
width: 70%;
}

.bio2{
    padding: 2rem;
    color: #FFF;
font-family: "DM Sans";
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 1.75rem */
letter-spacing: -0.0125rem;
width: 70%;
}


.pill-container-price{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
}